<div class="dropdown">
    <button class="main-query">Available APIs</button>
    <div>
        <ul class="sub-query">
            <li>
                <h4>    
                    <input id="markAll"type="checkbox">
                    <label for="markAll">Mark All</label>
                </h4>
            </li>
            <li>
                <h4>
                    <input id="1" type="checkbox"/>    
                    <label for="1">
                        BGP View
                        <small class="no-margin">BGPView is a simple API allowing consumers to view all sort of analytics data about the current state and structure of the internet. Available at https://bgpview.docs.apiary.io/#</small>
                    </label>
                </h4>
            </li>
            <li>
                <h4>
                    <input id="2" type="checkbox"/>    
                    <label for="2">
                        BGP View
                        <small class="no-margin">BGPView is a simple API allowing consumers to view all sort of analytics data about the current state and structure of the internet. Available at https://bgpview.docs.apiary.io/#</small>
                    </label>
                </h4>
            </li>
        </ul>
    </div>
</div>