<div class="dropdown">
    <button class="main-query">Available APIs</button>
    <div class="dropdown-content">
        <ul class="sub-query">
            <li>
                <h4>
                    BGP View
                    <small class="no-margin">BGPView is a simple API allowing consumers to view all sort of analytics data about the current state and structure of the internet. Available at https://bgpview.docs.apiary.io/#</small>
                </h4>
            </li>
            <li>
                <h4>
                    BGP He
                    <small class="no-margin">A tool from Hurricane Eletric to query information about internet. Available at https://bgp.he.net/</small>
                </h4>
            </li>
        </ul>
    </div>
</div>
