<div *ngIf="peers">
    <p *ngIf="asNumber">AS{{ asNumber }} IPv4 Peers</p>
    <div *ngFor="let peer of peers.ipv4" class="border-w-1 padd-10-l">
        <p>
            AS Number: <small>{{ peer.asn }}</small>
        </p>
        <p>
            Name: <small>{{ peer.name }}</small>
        </p>
        <p>
            Description: <small>{{ peer.description }}</small>
        </p>
        <p>
            Country Code: <small>{{ peer.countryCode }}</small>
        </p>
    </div>

    <p *ngIf="asNumber">AS{{ asNumber }} IPv6 Peers</p>
    <div *ngFor="let peer of peers.ipv6" class="border-w-1 padd-10-l">
        <p>
            AS Number: <small>{{ peer.asn }}</small>
        </p>
        <p>
            Name: <small>{{ peer.name }}</small>
        </p>
        <p>
            Description: <small>{{ peer.description }}</small>
        </p>
        <p>
            Country Code: <small>{{ peer.countryCode }}</small>
        </p>
    </div>
</div>