div.btn-go {
    width: 100%;
    text-align: center;
}

button.btn-go {
    background-color: inherit;
    border: solid 1px white;
    border-radius: 8px;
    font-size: 30px;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-family: inherit;
    width: 100%;
    max-width: 500px;
}

    button.btn-go:hover {
        background-color: rgb(0, 139, 150);   
    }