<div class="dropdown">
    <button class="main-query">Available APIs</button>
    <div>
        <ul class="sub-query">
            <li>
                <label class="label-container">
                    <input id="checkAll" [(ngModel)]="checkAll" 
                        [checked]="checkAllApis()" type="checkbox" >
                    <span class="checkmark"></span>
                    Check all
                </label>
            </li>
            <li *ngFor="let apiMap of selectedApis">
                <label class="label-container">
                    <input id="{{ apiMap.api?.id }}" [(ngModel)]="apiMap.selected" 
                        type="checkbox"/>    
                    <span class="checkmark"></span>
                    {{ apiMap.api?.name }}<br/>
                    <small>{{ apiMap.api?.description }}</small>
                </label>
            </li>
        </ul>
    </div>
</div>
<div class="btn-go"><button (click)="test()" class="btn-go">GO</button></div>