<div class="dropdown">
    <a href="#" class="main-query">AS Data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <div class="dropdown-content">
        <label for="as">Which AS?&nbsp;</label>
        <input id="as" class="query-input" type="text"/>
        <ul class="sub-query">
            <li><a href="#" class="sub-query">Details</a></li>
            <li><a href="#" class="sub-query">Peers</a></li>
            <li><a href="#" class="sub-query">Upstreams</a></li>
            <li><a href="#" class="sub-query">Downstreams</a></li>
            <li><a href="#" class="sub-query">IXs</a></li>
            <li><a href="#" class="sub-query">Prefixes</a></li>
        </ul>
    </div>
</div>