<div class="dropdown">
    <button class="main-query">AS Data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    <div class="dropdown-content">
        <label for="as">Which AS?&nbsp;</label>
        <input id="as" [(ngModel)]="asNumber" class="query-input" type="text"/>
        <ul class="sub-query">
            <li>
                <button type="button" 
                (click)="details()" 
                class="btn-sub-query">Details</button>
            </li>
            <li>
                <button type="button"
                (click)="peers()"
                class="btn-sub-query">Peers</button>
            </li>
            <li>
                <button type="button"
                (click)="upstreams()"
                class="btn-sub-query">Upstreams</button>
            </li>
            <li>
                <button type="button"
                (click)="downstreams()"
                class="btn-sub-query">Downstreams</button>
            </li>
            <li>
                <button type="button"
                (click)="ixs()"
                class="btn-sub-query">Ixs</button>
            </li>
            <li>
                <button type="button"
                (click)="prefixes()"
                class="btn-sub-query">Prefixes</button>
            </li>
        </ul>
    </div>
</div>