body {
    background-color: black;
    color: white;
    margin: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

h1 small {
    font-size: 18px;
    display: block;
    margin-left: 10px;
}

h4 small.no-margin {
    font-size: 15px;
    display: block;
}

.main-query {
    background-color: inherit;
    border: solid 1px white;
    border-radius: 8px;
    font-size: 30px;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-family: inherit;
}

    .main-query:hover {
        background-color: rgb(0, 139, 150);
    }

.sub-query {
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-family: inherit;
}
    a.sub-query:hover {
        font-weight: bold;
    }

ul.sub-query {
    list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    padding: 20px 16px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

input.query-input {
    font-family: inherit;
    font-size: inherit;
    color:white;
    min-height: 40px;
    max-width: 350px;
    background-color: inherit;
    border-color: white;
    border-radius: 5px;
    text-align: right;
}